html,
body {
  height: 100%;
  overflow-x: hidden;
  user-select: none;
}

.background {
  position: absolute;
  width: 100vw;
  height: 101%;
  overflow: hidden;
  pointer-events: none;
}
.background::after {
  content: "";
  position: absolute;
  width: 200vw;
  height: 350%;
  left: -50%;
  top: -50%;
  background-image: url(../img/bkg.png);
  animation: grain 2s steps(6) infinite;
  opacity: 0.1;
}
.grain-img {
  z-index: -1;
}
@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -8%);
  }
  30% {
    transform: translate(3%, -4%);
  }
  50% {
    transform: translate(6%, 9%);
  }
  70% {
    transform: translate(9%, 4%);
  }
  90% {
    transform: translate(3%, 7%);
  }
}

.boingHover:hover {
  animation: boing 300ms ease-in-out;
}

@keyframes boing {
  15%,
  40%,
  75%,
  100% {
    transform-origin: center center;
  }
  15% {
    transform: scale(1.2, 1.1);
  }
  40% {
    transform: scale(0.95, 0.95);
  }
  75% {
    transform: scale(1.05, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.justa:hover {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.projectCard {
  position: relative;
  margin-top: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.projectCard:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.title {
  left: 0;
  top: 40%;
  transition: top 0.5s ease-in-out;
}

.projectCard:hover .title {
  top: 90px;
}

.button {
  left: 0;
  top: 180px;
  transition: opacity 0.4s ease-in-out;
}

.button a {
  width: 200px;
  padding: 5px 5px;
  z-index: 1;
}

.projectCard:hover .button {
  opacity: 1;
}

.img {
  // cursor: none;
  transition: 450ms;
  &-01 {
    z-index: 2;
  }
  &-02 {
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    filter: blur(100px);
  }
}

.img-01:hover {
  opacity: 0;
}

.img-01:hover ~ .img-02 {
  opacity: 1;
  filter: blur(0);
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

$duration: 20s;
.ticker-wrap {
  background-color: rgba(#000, 0.2);
  padding-left: 100%;

  .ticker {
    padding-right: 10%;

    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: $duration;

    &__item {
      display: inline-block;
      padding: 5rem;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
