@tailwind base;
@tailwind components;
@tailwind utilities;

#homeGradient {
  background: rgb(53, 186, 153);
  background: -moz-linear-gradient(
    360deg,
    rgba(53, 186, 153, 1) 0%,
    rgba(30, 249, 223, 1) 100%
  );
  background: -webkit-linear-gradient(
    360deg,
    rgba(53, 186, 153, 1) 0%,
    rgba(30, 249, 223, 1) 100%
  );
  background: linear-gradient(
    360deg,
    rgba(53, 186, 153, 1) 0%,
    rgba(30, 249, 223, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#35ba99",endColorstr="#1ef9df",GradientType=1);
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}
.background {
  position: absolute;
  width: 100vw;
  height: 110%;
  overflow: hidden;
  pointer-events: none;
}
.background::after {
  content: "";
  position: absolute;
  width: 200vw;
  height: 350%;
  left: -50%;
  top: -50%;
  background-image: url(../bkg.png);
  animation: grain 2s steps(6) infinite;
  opacity: 0.1;
}
.grain-img {
  z-index: -1;
}

#wow {
  opacity: 0;
}

.boingHover:hover {
  animation: boing 300ms ease-in-out;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  30% {
    transform: translate(3%, -15%);
  }
  50% {
    transform: translate(12%, 9%);
  }
  70% {
    transform: translate(9%, 4%);
  }
  90% {
    transform: translate(-1%, 7%);
  }
}

@keyframes boing {
  15%,
  40%,
  75%,
  100% {
    transform-origin: center center;
  }
  15% {
    transform: scale(1.2, 1.1);
  }
  40% {
    transform: scale(0.95, 0.95);
  }
  75% {
    transform: scale(1.05, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.justa:hover {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.projectCard {
  position: relative;
  margin-top: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.projectCard:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.title {
  left: 0;
  top: 40%;
  transition: top 0.5s ease-in-out;
}

.projectCard:hover .title {
  top: 90px;
}

.button {
  left: 0;
  top: 180px;
  transition: opacity 0.4s ease-in-out;
}

.button a {
  width: 200px;
  padding: 5px 5px;
  z-index: 1;
}

.projectCard:hover .button {
  opacity: 1;
}

.img {
  // cursor: none;
  transition: 650ms ease-in-out;
  &-01 {
    z-index: 2;
  }
  &-02 {
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    filter: blur(100px);
  }
}

.img-01:hover {
  opacity: 0;
}

.img-01:hover ~ .img-02 {
  opacity: 1;
  filter: blur(0);
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

$duration: 20s;
.ticker-wrap {
  background-color: rgba(#000, 0.2);
  padding-left: 100%;

  .ticker {
    padding-right: 10%;

    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: $duration;

    &__item {
      display: inline-block;
      padding: 5rem;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
 {
  opacity: 0;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: 0.2s opacity ease-out;
}

.slide-fade-enter-active {
  transition: all 0.5s ease;
}

.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to

/* .slide-fade-leave-active below version 2.1.8 */
 {
  transform: translateX(50px);
  opacity: 0;
}

.slide-fade-up-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-up-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-up-enter,
.slide-fade-up-leave-to

/* .slide-fade-leave-active below version 2.1.8 */
 {
  transform: translateY(-20px);
  opacity: 0;
}

.grid-watch {
  height: 100vh;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 45% 45% 10%;
  grid-template-areas:
    "caroussel meteorologia"
    "caroussel relogio"
    "feed feed";
}

.feed-noticias {
  grid-area: feed;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.rain-box {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #110e1e, #2e4482);
}

.lusco-fusco {
  background: linear-gradient(to bottom, #141862, #2e4482);
}

.night {
  background: linear-gradient(to bottom, #110e1e, #2e4482) !important;
}

.foggy {
  background: linear-gradient(to bottom, #949292, #d4d4d4);
}

.rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: -70%;
}

.rain.back-row {
  display: none;
  z-index: 1;
  bottom: 60px;
  opacity: 0.5;
}

div.back-row-toggle .rain.back-row {
  display: block;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }

  75% {
    transform: translateY(90vh);
  }

  100% {
    transform: translateY(90vh);
  }
}

.stem {
  width: 1px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25)
  );
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }

  65% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.splat {
  width: 15px;
  height: 10px;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
  display: none;
}

div.splat-toggle .splat {
  display: block;
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  80% {
    opacity: 1;
    transform: scale(0);
  }

  90% {
    opacity: 0.5;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.splat-toggle {
  top: 20px;
}

.back-row-toggle {
  top: 0px;
  line-height: 12px;
  position: absolute;
  height: 500px;
  width: 100%;
  z-index: 0;
}

.single-toggle {
  top: 160px;
}

div.single-toggle .drop {
  display: none;
}

div.single-toggle .drop:nth-child(10) {
  display: block;
}

#clouds {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 1.5rem;
  z-index: 1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
  0% {
    margin-left: -500px;
  }

  100% {
    margin-left: 100%;
  }
}

@-moz-keyframes animateCloud {
  0% {
    margin-left: -500px;
  }

  100% {
    margin-left: 100%;
  }
}

@keyframes animateCloud {
  0% {
    margin-left: -500px;
  }

  100% {
    margin-left: 100%;
  }
}

/* ANIMATIONS */

.x1 {
  -webkit-animation: animateCloud 45s linear infinite;
  -moz-animation: animateCloud 45s linear infinite;
  animation: animateCloud 45s linear infinite;

  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.65);
}

.x2 {
  -webkit-animation: animateCloud 30s linear infinite;
  -moz-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  position: absolute;
  top: 2rem;
  z-index: 2;
}

.x3 {
  -webkit-animation: animateCloud 50s linear infinite;
  -moz-animation: animateCloud 50s linear infinite;
  animation: animateCloud 50s linear infinite;

  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
  position: absolute;
  top: 1.5rem;
  z-index: 3;
}

.x4 {
  -webkit-animation: animateCloud 60s linear infinite;
  -moz-animation: animateCloud 60s linear infinite;
  animation: animateCloud 60s linear infinite;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  position: absolute;
  top: 1.5rem;
  z-index: 3;
}

/* OBJECTS */

.cloud {
  background: #fff;
  background: -moz-linear-gradient(to bottom, #fff 5%, #f1f1f1 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(5%, #fff),
    color-stop(100%, #f1f1f1)
  );
  background: -webkit-linear-gradient(to bottom, #fff 5%, #f1f1f1 100%);
  background: -o-linear-gradient(to bottom, #fff 5%, #f1f1f1 100%);
  background: -ms-linear-gradient(to bottom, #fff 5%, #f1f1f1 100%);
  background: linear-gradient(to bottom, #fff 5%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f1f1f1', GradientType=0);

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

  height: 120px;
  position: relative;
  width: 350px;
}

.cloud:after,
.cloud:before {
  background: #fff;
  content: "";
  position: absolute;
  z-index: -1;
}

.cloud:after {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  height: 100px;
  left: 50px;
  top: -50px;
  width: 100px;
}

.cloud:before {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;

  width: 180px;
  height: 180px;
  right: 50px;
  top: -90px;
}

.carousel-holder {
  position: relative;
  overflow: hidden;
  height: 70px;
  width: 100%;
}

.carousel-card {
  display: block;
  position: absolute;
  transition: transform 0ms linear;
  width: calc(100% - 200px);
}

.carousel-holder .item {
  margin-left: 0;
  float: left;
}

:root {
  --color: #e2e8f0;
  --fontColor: #09044a;
}

@mixin white-gradient {
  background: linear-gradient(
    to right,
    var(--color) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 20ms;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-4000px * 7));
  }
}

// Styling
.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 50px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    position: absolute;
  }

  .slide {
    width: auto;
    top: 0;
    left: 0;
    position: absolute;
  }
}

.caroussel {
  grid-area: caroussel;
  height: 100%;
  width: 100%;
}

#slider {
  opacity: 1;
  transition: opacity 1s;
  height: 100%;
  width: 100%;
}

#slider > .mainboard {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

#slider.fadeOut {
  opacity: 0;
}

.weatherWid {
  display: grid;
  grid-template-areas:
    "a a"
    "b c"
    "d e"
    "f f";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto auto;
  row-gap: 10px;
  .cityName {
    grid-area: a;
  }
  .currentIcon {
    grid-area: b;
  }
  .currentWeather {
    grid-area: c;
  }
  .nextDayWeather {
    grid-area: d;
  }
  .nextDayTwoWeather {
    grid-area: e;
  }
  .accuWeather {
    grid-area: f;
    margin-top: 10px;
  }
}

.weatherWidVer {
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
  grid-template-columns: repeat(2, 1fr);
  .currentIcon {
    grid-area: a;
  }
  .currentWeather {
    grid-area: b;
  }
  .accuWeather {
    grid-area: c;
  }
}

.clock {
  &-hours {
    &:before {
      content: var(--timer-hours);
    }
  }
  &-minutes {
    &:before {
      content: var(--timer-minutes);
    }
  }
}

.clock {
  &-container {
    display: flex;
  }
  &-col {
    text-align: center;
    position: relative;
  }
  &-timer {
    &:before {
      text-transform: uppercase;
    }
  }
  &-label {
    text-transform: uppercase;
    font-size: 0.7rem;
    &:before {
      content: var(--timer-day);
    }
  }
}

.dotter {
  animation: slide-fwd-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
    alternate;
}

@keyframes slide-fwd-center {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*
 LAYOUT 1
*/
.wrapper-layout-1 {
  display: grid;
  grid-template-areas:
    "a a a a b"
    "a a a a c"
    "a a a a c"
    "a a a a d"
    "a a a a f";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1fr 1fr auto auto;
  row-gap: 20px;
  column-gap: 20px;
  padding-right: 20px;
  .sliderArea {
    grid-area: a;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  .logoArea {
    grid-area: b;
    align-self: center;
    justify-self: center;
    margin-top: 20px;
    img {
      height: 120px;
      object-fit: contain;
    }
  }
  .weatherArea {
    grid-area: c;
  }
  .clockArea {
    grid-area: d;
  }
  .signatureArea {
    grid-area: f;
    align-self: center;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .sliderArea.preview {
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  }
}
/*
 FIM LAYOUT 1
*/

/*
 LAYOUT 2
*/
.wrapper-layout-2 {
  display: grid;
  grid-template-areas:
    "a a a a b"
    "a a a a c"
    "a a a a c"
    "a a a a d"
    "e e e e f";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1fr 1fr auto auto;
  row-gap: 20px;
  column-gap: 20px;
  padding-right: 20px;
  .sliderArea {
    grid-area: a;
    overflow: hidden;
    border-radius: 0 0 50px 0;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.3);
  }
  .logoArea {
    grid-area: b;
    align-self: center;
    justify-self: center;
    margin-top: 20px;
    img {
      height: 120px;
      object-fit: contain;
    }
  }
  .weatherArea {
    grid-area: c;
  }
  .clockArea {
    grid-area: d;
  }
  .newsArea {
    grid-area: e;
    margin-bottom: 20px;
    .scroller {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      &::after {
        @include white-gradient;
        content: "";
        height: 100%;
        position: absolute;
        width: 200px;
        z-index: 2;
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
      }
      .scroller-track {
        position: relative;
        height: 100%;
        width: 3000px;
        .slide {
          position: absolute;
          height: 100%;
        }
      }
    }
  }
  .signatureArea {
    grid-area: f;
    align-self: center;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .logoArea.preview {
    margin: 0;
  }

  .bannerArea.preview {
    border-radius: 10px;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  }

  .sliderArea.preview {
    border-radius: 0 0px 30px 0;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  }
}
/*
 FIM LAYOUT 2
*/

/*
 LAYOUT 3
*/
.wrapper-layout-3 {
  display: grid;
  grid-template-areas:
    "b b b b b"
    "a a a a g"
    "a a a a c"
    "a a a a c"
    "a a a a d"
    "e e e e f";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto auto auto auto auto;
  row-gap: 10px;
  column-gap: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  .sliderArea {
    grid-area: a;
    overflow: hidden;
    border-radius: 0 50px 50px 0;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.3);
  }
  .logoArea {
    grid-area: b;
    align-self: start;
    justify-self: start;
    margin-left: 20px;
    margin-top: 20px;
    img {
      height: 80px;
      object-fit: contain;
    }
  }
  .weatherArea {
    grid-area: c;
  }
  .clockArea {
    grid-area: d;
  }
  .newsArea {
    grid-area: e;
    margin-bottom: -20px;

    .scroller {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      &::after {
        @include white-gradient;
        content: "";
        height: 100%;
        position: absolute;
        width: 200px;
        z-index: 2;
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
      }
      .scroller-track {
        position: relative;
        height: 100%;
        width: 3000px;
        .slide {
          position: absolute;
          height: 100%;
        }
      }
    }
  }
  .signatureArea {
    grid-area: f;
    align-self: center;
    justify-self: center;
  }
  .bannerArea {
    grid-area: g;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.3);
    img {
      height: 230px;
      object-fit: contain;
    }
  }

  .logoArea.preview {
    margin: 0;
    margin-top: 5px;
  }

  .newsArea.preview {
    margin: 0;
  }

  .bannerArea.preview {
    border-radius: 10px;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  }

  .sliderArea.preview {
    border-radius: 0 30px 30px 0;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  }
}
/*
 FIM LAYOUT 3
*/

/*
 LAYOUT 4 PROVISÓRIO
*/
.wrapper-layout-4 {
  display: grid;
  grid-template-areas:
    "b a a a a"
    "g a a a a"
    "c a a a a"
    "c a a a a"
    "d a a a a"
    "f a a a a"
    "e e e e e";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto auto auto auto auto;
  row-gap: 20px;
  column-gap: 20px;
  .sliderArea {
    grid-area: a;
    overflow: hidden;
    border-radius: 0 0 0 50px;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.3);
  }
  .logoArea {
    grid-area: b;
    align-self: center;
    justify-self: center;
    margin-top: 20px;
    margin-left: 20px;
    img {
      height: 80px;
      object-fit: contain;
    }
  }
  .weatherArea {
    grid-area: c;
    margin-left: 20px;
  }
  .clockArea {
    grid-area: d;
    margin-left: 20px;
  }
  .newsArea {
    grid-area: e;
    margin-bottom: 20px;
    .scroller {
      width: 100%;
      height: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      overflow: hidden;
      position: relative;
      &::after {
        @include white-gradient;
        content: "";
        height: 100%;
        position: absolute;
        width: 200px;
        z-index: 2;
        left: 0;
        top: 0;
      }
      &::before {
        @include white-gradient;
        content: "";
        height: 100%;
        position: absolute;
        width: 200px;
        z-index: 2;
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
      }
      .scroller-track {
        position: relative;
        height: 100%;
        width: 3000px;
        .slide {
          position: absolute;
          height: 100%;
        }
      }
    }
  }
  .signatureArea {
    grid-area: f;
    align-self: center;
    justify-self: center;
    margin-left: 20px;
    margin-bottom: -20px;
  }
  .bannerArea {
    grid-area: g;
    margin-left: 20px;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.3);
    img {
      height: 220px;
      object-fit: contain;
    }
  }

  .bannerArea.preview {
    border-radius: 10px;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  }

  .bannerArea.widget {
    border-radius: 10px;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
    img {
      height: auto;
      object-fit: cover;
    }
  }

  .logoArea.widget {
    img {
      height: auto;
      object-fit: contain;
    }
  }

  .sliderArea.preview {
    border-radius: 0 0 0 30px;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  }
}
/*
 FIM LAYOUT 4
*/

/*
 LAYOUT 5
*/
.wrapper-layout-5 {
  display: grid;
  grid-template-areas:
    "a a a a a"
    "a a a a a"
    "a a a a a"
    "a a a a a"
    "a a a a a";
  grid-template-columns: repeat(5, 1fr);
  .sliderArea {
    grid-area: a;
    overflow: hidden;
  }

  .sliderArea.preview {
    margin: 10px;
    grid-area: a;
    overflow: hidden;
  }
}
/*
 FIM LAYOUT 5
*/

/*
 LAYOUT 6
*/
.wrapper-layout-6 {
  display: grid;
  grid-template-areas:
    "b b c c d d"
    "a a a a a a"
    "a a a a a a"
    "a a a a a a"
    "a a a a a a";
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  .sliderArea {
    grid-area: a;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  .sliderArea.preview {
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  }
  .logoArea {
    grid-area: b;
    align-self: start;
    justify-self: start;
    margin-top: 20px;
    margin-left: 20px;
    img {
      height: 80px;
      object-fit: contain;
    }
  }
  .logoArea {
    margin-left: 10px;
  }
  .weatherArea {
    grid-area: c;
    margin-top: 5px;
  }
  .weatherArea.preview {
    margin-top: 20px;
    margin-left: 10px;
  }
  .clockArea {
    grid-area: d;
    margin-top: 20px;
    margin-right: 20px;
  }
  .clockArea.preview {
    grid-area: d;
    margin-top: 20px;
    margin-right: 10px;
  }
}
/*
 FIM LAYOUT 6
*/

/*
 LAYOUT 7
*/
.wrapper-layout-7 {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.2);

  display: grid;
  grid-template-areas:
    "b"
    "c"
    "c"
    "d"
    "f";
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto 1fr 1fr auto auto;
  row-gap: 20px;
  column-gap: 20px;
  padding-right: 20px;
  padding-left: 20px;
  .logoArea {
    grid-area: b;
    align-self: center;
    justify-self: center;
    margin-top: 20px;
    img {
      height: 120px;
      object-fit: contain;
    }
  }
  .weatherArea {
    grid-area: c;
  }
  .clockArea {
    grid-area: d;
  }
  .signatureArea {
    grid-area: f;
    align-self: center;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.slider-layout-7 {
  display: grid;
  grid-template-areas:
    "a a a a a"
    "a a a a a"
    "a a a a a"
    "a a a a a"
    "a a a a a";
  grid-template-columns: repeat(5, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  .sliderArea {
    grid-area: a;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  .sliderArea.preview {
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  }
}
/*
 FIM LAYOUT 7
*/

/*ANALOG CLOCK*/
.clock {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
}

.clock.styleOne {
  border: 4px solid transparent;
  box-shadow: 0 -8px 8px 0px rgba(255, 255, 255, 0.05),
    inset 0 -8px 8px 0px rgba(255, 255, 255, 0.05),
    0 8px 8px 0px rgba(0, 0, 0, 0.1), inset 0 8px 8px 0px rgba(0, 0, 0, 0.1);
}

.clock.styleTwo {
  border: 4px solid var(--fontColor);
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 50%;
  color: var(--fontColor);
  text-align: center;
  font-weight: bold;
  transform: rotate(var(--rotation));
}

.clock .number1 {
  --rotation: 30deg;
}
.clock .number2 {
  --rotation: 60deg;
}
.clock .number3 {
  --rotation: 90deg;
}
.clock .number4 {
  --rotation: 120deg;
}
.clock .number5 {
  --rotation: 150deg;
}
.clock .number6 {
  --rotation: 180deg;
}
.clock .number7 {
  --rotation: 210deg;
}
.clock .number8 {
  --rotation: 240deg;
}
.clock .number9 {
  --rotation: 270deg;
}
.clock .number10 {
  --rotation: 300deg;
}
.clock .number11 {
  --rotation: 330deg;
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 10px;
  height: 50%;
  background-color: var(--fontColor);
  border: 1px solid var(--color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: "";
  position: absolute;
  background-color: var(--fontColor);
  z-index: 11;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);
}

.clock .hand.second {
  width: 3px;
  height: 40%;
  background-color: var(--fontColor);
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);
}

.clock .hand.minute {
  width: 5px;
  height: 35%;
  background-color: var(--fontColor);
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);
}

.clock .hand.hour {
  width: 8px;
  height: 30%;
  background-color: var(--fontColor);
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);
}

.closeBtn:hover {
  path {
    color: white;
  }
}
.closeBtn2:hover {
  path {
    color: #09044a;
  }
}
